*.z64
*.n64
*.v64
*.pyc
*.o
*.bak
*.pckg
include/build_date.h
fungi.py
*.sym
asm/objects.asm
*.bps
!Site/releases/*.bps
*.wch
*.log
.rom
.version
heap.shrink
build/

include/rom_version.h
Build/n64chain/*
n64chain.zip