.eventText {
	color: white;
	height: inherit;
}

.eventStats .head {
	font-size: 20px;
	padding-left: 5px;
}

.sub {
	font-size: 12px;
	padding-left: 5px;
	padding-bottom: 5px;
}

.sub.bad {
	color: red;
}

.sub.good {
	color: forestgreen;
}

.eventText h3 {
	padding-left: 5px;
}

.eventImage {
	max-height: 250px;
	height:100%;
	width: 100%;
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
}

.eventContainer {
	height: 100%;
}

.eventStats {
	padding: 10px;
}

.innerStats {
	padding: 0px;
}

.eventTable tr td {
	padding: 5px;
	color: white;
}

.eventMasterContainer {
	padding-top: 20px;
	padding-bottom: 20px;
}

.leg_shake {
	background-image: url("https://raw.githubusercontent.com/theballaam96/theballaam96.github.io/master/assets/events/legshake.png");
}

.bullies {
	background-image: url("https://raw.githubusercontent.com/theballaam96/theballaam96.github.io/master/assets/events/bullies.png");
}

.rambi_beavers {
	background-image: url("https://raw.githubusercontent.com/theballaam96/theballaam96.github.io/master/assets/events/chase.png");
}

.rambi_barrel {
	background-image: url("https://raw.githubusercontent.com/theballaam96/theballaam96.github.io/master/assets/events/barrel.png");
}

.butterflies {
	background-image: url("https://raw.githubusercontent.com/theballaam96/theballaam96.github.io/master/assets/events/butterflies.png");
}

.kremling_leg_shake {
	background-image: url("https://raw.githubusercontent.com/theballaam96/theballaam96.github.io/master/assets/events/kremshake.png");
}

.mini_beavers {
	background-image: url("https://raw.githubusercontent.com/theballaam96/theballaam96.github.io/master/assets/events/mini.png");
}

.night_cycle {
	background-image: url("https://raw.githubusercontent.com/theballaam96/theballaam96.github.io/master/assets/events/night.png");
}

.rain_cycle {
	background-image: url("https://raw.githubusercontent.com/theballaam96/theballaam96.github.io/master/assets/events/rain.png");
}

.beaver_stack {
	background-image: url("https://raw.githubusercontent.com/theballaam96/theballaam96.github.io/master/assets/events/stack.png");
}